
.heroSection{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80vh;

}

.heroBasic{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.heroBasic h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2.7rem;
    font-weight: 700;
    color: var(--primary-black);
    margin: 0;
}

.heroBasic h2 span {
    /*color: #10EBA1;*/
    color: white;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.heroBasic p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    margin: 1rem 0;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.heroBasic a{
    background-color: var(--primary-black);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
    color: white;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    padding: 0.5rem 1rem;
    border-radius:25px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease;
    animation: bounce 2s infinite;
}
.heroBasic a:hover{
    background-color: var(--seven-color);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-5px);
    }
    60% {
        transform: translateY(-2px);
    }
}
.heroSecond{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroSecond img{
    width: 90%;
    max-height: 600px;
    aspect-ratio: 1/2;

    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
}
@media screen and (max-width: 900px){
    .heroSection{
        padding: 1rem;
    }
    .heroBasic{
        width: 100%;
    }
    .heroSecond{
        display: none;
    }

}
@media screen and (max-width: 770px){
   .heroSection{
       min-height: 70vh;
   }
    .heroBasic h2{
        font-size: 2.5rem;
    }
    .heroBasic p{
        font-size: 1.3rem;
    }

}
@media screen and (max-width: 400px){
    .heroSection{
        min-height: 60vh;
    }

    .heroBasic{
        text-align: center;
    }

    .heroBasic h2{
        font-size: 1.7rem;
    }
    .heroBasic p{
        font-size: 1.1rem;
        margin: 1rem auto;
    }
    .heroBasic a{
        font-size: 0.9rem;
        margin: 1rem auto;

    }

}
