.alternative{
 width: 100%;
    background: var(--primary-color);
}

.logoutBtn{
    background-color: #b80505;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    box-shadow: 20px 0 10px rgba(0, 0, 0, 0.2);
}
