

.editContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editCard{
    width: 70%;
    margin: .5em auto;
    border: 1px solid rgba(131, 131, 131, 0.4);
    padding: 1em;
    border-radius: 10px;
    text-align: center;
}
.editCard h1{
    font-size: 1.8rem;
    margin-bottom: 1em;
}
.editInputsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.errorDiv {
    width: 100%;
    color: red;
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

.editInputsContainer button{
    width: 100%;
    padding: .5em;
    margin: .5em auto;
    border: none;
    border-radius: 5px;
    background-color: #3f51b5;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.editInputsContainer button:hover{
    background-color: #303f9f;
}

.editInputsContainer button:disabled{
    background-color: #9e9e9e;
    cursor: not-allowed;
}

.editInputsContainer .deleteBtn{
    background-color: red;
}

.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em auto;
    width: 100%;
}

