@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.nutriNav{
    width: 90%;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.nutriScanTitle{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--secondary-color);
    letter-spacing: 1px;
    margin: 0;
    text-decoration: unset;
}
.nutriScanTitle span{
    color: white;
}
.secondPart a{
    font-size: 1.2rem;
    font-weight:500;
    color: #ffffff;
    text-decoration: none;
    margin: 0 1rem;
}
.secondPart .cta{
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;

}
.secondPart .cta:hover{
    transition: all 0.3s ease;
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
}
.loginBtn{
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}
.loginBtn-alternative{
    background-color: white;
    color: var(--primary-color) !important;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}
.burgerIcon{
    display: none;
}

.mobileMenu{
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    background-color: rgb(250, 250, 250);
    z-index: 9999;
    padding-top: 5rem;
}
.mobileMenuItem{
    display: block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    text-decoration: unset;
    text-align: center;
}
.mobileButton{
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    margin: auto ;
    display: block;
    text-align: center;
    width: 95%;
    border-radius: 25px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}



@media only screen and (max-width: 1440px){
    .nutriNav{
        width: 95%;
    }

}

@media only screen and (max-width: 1152px){

}

@media only screen and (max-width: 768px){
    .firstPart{
        width: 35%;

    }
    .secondPart{
        display: none;
    }
    .burgerIcon{
        display: block;
        font-size: 2rem;

        cursor: pointer;
    }
    .secondPart a{
        margin: 0.5rem 0;
    }
    .loginBtn-alternative.mobileMenuItem{
        background-color: var(--primary-color);
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 1px;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
    }

}

@media only screen and (max-width: 320px) {

}


/* Slide In Animation */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0%);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.slide-in {
    animation: slideIn 0.3s ease forwards;
    pointer-events: auto;
}

.slide-out {
    animation: slideOut 0.3s ease forwards;
    pointer-events: none;
}
